.popover {
    --bs-popover-max-width: 400px;
}

.fc-daygrid-dot-event {
    font-size: 0.7em;
    word-wrap: break-word;
}

#calendar {
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.form-control[readonly] {
  background-color: inherit;
}

.modal {
    z-index: 9999;
}
